/**
 * Created on August 18, 2015 by George Ruan.
 *
 * Stylesheet for common styles.
 */

 /* ============= COLOR SCHEMES ============= */

 .dark-background,
 .medium-background,
 .nav-text {
   color: #fff;
 }
 .dark-background {
   background-color: #000;
 }
 .medium-background {
   background-color: #666;
 }
 .light-background {
   background-color: #fff;
   color: #000;
 }

/* ============= TEXT ============= */
 .header-text {
   font-size: 5em;
   margin: 5% 0;
 }

 .subheader-text {
   font-size: 2.5em;
   margin: 5% 0;
 }

 .descriptive-text {
   font-size: 1.5em;
   margin: 2.5% 0;
 }

 .nav-text {
   border-bottom: none;
   font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-weight: 400;
   font-size: 1em;
   text-transform: uppercase;
   transition: color .3s linear;
 }

 .nav-text:hover {
   color: #666;
 }

/* ============= PLACEMENT ============= */

.no-padding {
  padding: 0;
}

.table {
  display: table;
  height:100%;
  width: 100%;
}

.table-cell-center {
  display: table-cell;
  vertical-align: middle;
}

/* ============= BUTTONS ============= */

.generic-btn {
  border: none;
  box-sizing: border-box;
  background: none;
  cursor: pointer;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1em;
  display: inline-block;
  margin: 2% 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.small-btn {
  padding: 1.5em 2em;
  min-width: 175px;
}
.light-btn,
.light-btn:link,
.light-btn:visited {
  border: 3px solid #fff;
  color: #fff;
}
.light-btn:hover,
.light-btn:active {
  color: #000;
  background: #fff;
}
.dark-btn,
.dark-btn:link,
.dark-btn:visited {
  border: 3px solid #000;
  color: #000;
}
.dark-btn:hover,
.dark-btn:active {
  color: #fff;
  background: #000;
}
.light-btn,
.light-btn:link,
.light-btn:visited,
.light-btn:hover,
.light-btn:active,
.dark-btn,
.dark-btn:link,
.dark-btn:visited,
.dark-btn:hover,
.dark-btn:active {
  text-decoration: none;
}
