/**
 * Created on August 18, 2015 by George Ruan.
 *
 * Stylesheet for Greeting Page.
 */

/* ============= ANIMATIONS ============= */
 @keyframes fade-in-out {
   0% {opacity: 0;}
   40% {opacity: 1;}
   60% {opacity: 1;}
   100% {opacity: 0;}
 }

 .fade-in-out {
   -webkit-animation-name: fade-in-out;
   -webkit-animation-duration: 4s;
   -webkit-animation-delay: 1s;
   -webkit-animation-iteration-count: 2;
   -moz-animation-name: fade-in-out;
   -moz-animation-duration: 4s;
   -moz-animation-delay: 1s;
   -moz-animation-iteration-count: 2;
   -ms-animation-name: fade-in-out;
   -ms-animation-duration: 4s;
   -ms-animation-delay: 1s;
   -ms-animation-iteration-count: 2;
 }

 @keyframes fade-in {
   0% {opacity: 0}
   100% {opacity: 1}
 }

 .fade-in {
   -webkit-animation-name: fade-in;
   -webkit-animation-duration: 2.5s;
   -moz-animation-name: fade-in;
   -moz-animation-duration: 2.5s;
   -ms-animation-name: fade-in;
   -ms-animation-duration: 2.5s;
 }

 /* ============= TEXT ============= */
 .megatext {
   font-size: 3.5em;
   opacity: 0;
 }

 /* ============= CONTAINERS ============= */
.container-fluid {
  padding: 0;
}

.container-fluid,
#greeting,
main {
  height: 100%;
}

#greeting {
  background-color: #000;
  color: #fff;
}

.center {
  position: absolute;
  width: 800px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -50px;
  padding: 0 20px;
/* border: 1px solid red;*/
}

 /* ============= FORMS ============= */

input,
input:focus {
  color: #000;
  text-align: center;
}

button[type="submit"] {
  position: absolute;
  left: -999999px;
  width: 1px;
  height: 1px;
}
