/**
 * Created on August 19, 2015 by George Ruan.
 *
 * Stylesheet for Home Page.
 */

/* ============= GLOBALS ============= */

::-webkit-scrollbar {
    display: none;
}

html,
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  position: relative;
}

h1,
h2 {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

h3,
h4,
h5,
h6 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0;
}

li.inline-list-item {
  display: inline-block;
  margin: 0 auto;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
}

/* ============= NAVBAR ============= */
nav {
  border-left: 3px solid #00CCB0;
  background-color: #222;
  position: fixed;
  top: 0;
  right: -277px;
  transition: right .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 280px;
  z-index: 1;
}

.container-bottom {
  padding: 20% 20%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-rollover {
  color: #00CCB0;
  opacity: 1;
  padding: 0 3px 0 10px;
  position: absolute;
  top: 0;
  left: -20px;
  bottom: 0;
}

nav li.inline-list-item {
   margin: 0 3%;
}
nav li.inline-list-item:first-child {
  margin-left: 0;
}
nav li.inline-list-item:last-child {
  margin-right: 0;
}

.nav-text {
  border-bottom: none;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  text-transform: uppercase;
  transition: color .3s linear;
}

.nav-text:link,
.nav-text:hover,
.nav-text:active {
  color: #666;
}

.nav-icon {
  font-size: 1.5em;
  transition: color .2s linear;
}

.nav-icon,
.nav-icon:visited {
  color: #00CCB0;
}

.nav-icon:link,
.nav-icon:hover,
.nav-icon:active {
  color: #007A6A;
}

.table-cell-center > li {
  margin-bottom: 5px;
}

/* ============= HEADER ============= */

header .container-content {
  margin: 20% 0 15% 5%;
  position: relative;
}

/* ============= CONTACT ============= */

#contact li.inline-list-item {
   margin: 0 .5%;
}
#contact li.inline-list-item:first-child {
  margin-left: 0;
}
#contact li.inline-list-item:last-child {
  margin-right: 0;
}
