/**
 * Created on August 19, 2015 by George Ruan.
 *
 * Stylesheet for Home Page.
 */

/* ============= GLOBALS ============= */
 html,
 body {
     font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 16px;
     overflow-x: hidden;
     height: 100%;
 }

 h1,
 h2 {
   font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-weight: 400;
   text-transform: uppercase;
 }

 h3,
 h4,
 h5,
 h6 {
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
 }

 ul {
   padding: 0;
   margin: 0 0;
 }
 li {
   display: inline;
   margin: 0 1%;
 }
 li:first-child {
   margin-left: 0;
 }
 li:last-child {
   margin-right: 0;
 }

/* ============= CONTAINERS ============= */

header .container-content {
  padding: 20% 0 15% 5%;
  position: relative;
}

.header-text {
  font-size: 5em;
  margin: 5% 0;
}

.subheader-text {
  font-size: 2.5em;
  margin: 5% 0;
}

.descriptive-text {
  font-size: 1.5em;
  margin: 2.5% 0;
}
