/**
 * Created on August 19, 2015 by George Ruan.
 *
 * Stylesheet for Home Page.
 */

/* ============= NAVBAR ============= */
nav {
  border-left: 3px solid #00CCB0;
  background-color: #222;
  position: fixed;
  top: 0;
  right: -277px;
  bottom: 0;
  transition: right .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 280px;
  z-index: 1;
}

.nav-rollover {
  color: #00CCB0;
  opacity: 1;
  padding: 0 3px 0 10px;
  position: absolute;
  top: 0;
  left: -30px;
  bottom: 0;
}

.nav-logo {
  width: 4em;
  height: 4em;
  margin: 0 auto;
}

.nav-logo img {
  max-height: 100%;
  max-width: 100%;
}

nav li.inline-list-item {
   margin: 0 3%;
}
nav li.inline-list-item:first-child {
  margin-left: 0;
}
nav li.inline-list-item:last-child {
  margin-right: 0;
}

.nav-text {
  border-bottom: none;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  text-transform: uppercase;
  transition: color .3s linear;
}

.nav-text,
.nav-text:link,
.nav-text:visited {
  color: #fff;
}

.nav-text:hover,
.nav-text:active {
  color: #666;
}

.nav-icon {
  font-size: 1.5em;
  transition: color .2s linear;
}

.nav-icon,
.nav-icon:link,
.nav-icon:visited {
  color: #00CCB0;
}

.nav-icon:hover,
.nav-icon:active {
  color: #007A6A;
}

.table-cell-center > li {
  margin-bottom: 5px;
}

/* ============= HEADER ============= */

header .container-header {
  margin: 13% 0 0% 5%;
  height: 4em;
  width: 4em;
  position: relative;
}

header .container-header img {
  max-width: 100%;
  max-height: 100%;
}

header .container-content {
  margin: 7% 0 15% 5%;
  position: relative;
}

/* ============= SECTIONS ============= */

section .container-content {
  margin: 0 0 15% 5%;
  position: relative;
}

/* ============= #HOME PAGE ============= */

#home > section:before {
  content: "";
  width: 100%;
  height: 0;
  padding-bottom: 8%;
  margin-top: -4%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  -webkit-transform: skewY(4deg);
  -moz-transform: skewY(4deg);
  -o-transform: skewY(4deg);
  -ms-transform: skewY(4deg);
  transform: skewY(4deg)
}

/* ============= #ABOUT ============= */

#about::before {
  background-color: #fff;
}

#about > .container-fluid {
}

/* ============= #PORTFOLIO ============= */

#portfolio::before {
  background-color: #666;
}

/* ============= #CONTACT ============= */

#contact::before {
  background-color:#000;
}
#contact li.inline-list-item {
   margin: 0 .5%;
}
#contact li.inline-list-item:first-child {
  margin-left: 0;
}
#contact li.inline-list-item:last-child {
  margin-right: 0;
}
