/**
 * Created on August 21, 2015 by George Ruan.
 *
 * Stylesheet for Globals.
 */

 /* ============= GLOBALS ============= */

 ::-webkit-scrollbar {
     display: none;
 }

 html,
 body {
   font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 16px;
   height: 100%;
   position: relative;
 }
 @media only screen and (max-device-width:480px){
    body{
      font-size: 8px;
    }
 }
 @media only screen and (min-width:480px){
 /* styles for mobile browsers smaller than 480px; (iPhone) */
   body{
     font-size: 10px;
   }
 }
 @media only screen and (min-width:768px){
 /* default iPad screens */
   body{
     font-size: 12px;
   }
 }
@media only screen and (min-width:960px){
/* styles for browsers larger than 960px; */
  body {
    font-size: 16px;
  }
}
@media only screen and (min-width:1440px){
/* styles for browsers larger than 1440px; */
  body{
    font-size: 16px;
  }
}

 h1 {
   font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 400;
   text-transform: uppercase;
 }

 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

 p {
     line-height: 1.75;
 }

 section {
   position: relative;
 }

 ul {
   list-style-type: none;
   padding: 0;
   margin: 0 0;
 }

 a,
 a:link,
 a:visited,
 a:hover,
 a:active {
   outline: none;
   text-decoration: none;
 }

 input:focus {
   outline: none;
 }
