<div id="greeting" class="container-fluid">
    <div class="text-center middle-stripe">
        <div class="center">
            <div class="row" ng-if="greeting">
                <h1 class="fade-in-out transparent megatext">{{greeting}}</h1>
            </div>
            <div class="row" ng-if="!greeting">
                <form ng-submit="submitName()">
                    <label for="name" ng-hide="true">Name</label>
                    <input type="text" class="fade-in megatext underline-input" id="name" autocomplete="off" ng-model="name"></input>

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
