<div id="greeting" class="text-center">
    <div class="center">
        <div class="row" ng-show="greeting">
            <h1 class="fade-in-out megatext">{{greeting}}</h1>
        </div>
        <div class="row" ng-hide="greeting">
            <form ng-submit="submitName()">
                <div class="form-group form-group-lg">
                    <label for="name" ng-hide="true">Name</label>
                    <input type="text" class="form-control" id="name"
                           ng-model="name"></input>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>
