<div id="page-top">
    <!-- Navigation -->
    <!--
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Start Bootstrap</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#old-portfolio">old-portfolio</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#team">Team</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    -->
    <!-- HEADER -->
    <header>
        <div class="container-fluid dark-background">
            <div class="container-content">
                <h2 class="header-text">
                  Nice to <br>
                  Meet You <br>
                  {{name}}.
                </h2>
                <a href="#about" class="generic-btn small-btn light-btn">Get To Know Me.</a>
            </div>
    </header>

    <!-- ABOUT SECTION -->
    <section id="about">
        <div class="container-fluid light-background">
            <div class="container-content">
                <h2 class="header-text">
                    I Design <br>
                    And Build <br>
                    Websites.
                </h2>
                <h3 class="subheader-text">
                  My name is George Ruan<br>
                  and I am a full-stack <br>
                  developer.
                </h3>
                <p class="descriptive-text">
                  I am currently pursuing a Bachelor's Degree <br>
                  in Computer Science as a Sophomore at the <br>
                  University of Illinois at Urbana-Champaign.
                </p>
                <p class="descriptive-text">
                  Books and classes aside, I enjoy working <br>
                  on projects and am interested in internships <br>
                  or research opportunities.
                </p>
                <a href="#portfolio" class="generic-btn small-btn dark-btn">Dive Into My Work.</a>
            </div>
        </div>
    </section>

    <!-- PORTFOLIO SECTION -->
    <section id="portfolio">
        <div class="container-fluid medium-background">
            <div class="container-content">
              <h2 class="header-text">
                  My Journey <br>
                  Has Only <br>
                  Begun.
              </h2>
              <a href="#contact" class="generic-btn small-btn light-btn">Start It With Me.</a>
            </div>
        </div>
    </section>

    <!-- CONTACT SECTION -->
    <section id="contact">
        <div class="container-fluid dark-background">
            <div class="container-content">
                <h2 class="header-text">
                    Interested? <br>
                    Let's Get <br>
                    Coffee.
                </h2>
                <a href="mailto:ruan.george@gmail.com" class="generic-btn small-btn light-btn">Set A Date.</a>
                <h3 class="subheader-text">
                  Take my resume on the run <br>
                  and follow me on Github <br>
                  and LinkedIn.
                </h3>
                <ul>
                    <li><a href="#resume" class="generic-btn small-btn light-btn">Resume</a></li>
                    <li><a href="https://github.com/gruan" target="_blank"class="generic-btn small-btn light-btn">Github</a></li>
                    <li><a href="https://www.linkedin.com/in/gruan" target="_blank" class="generic-btn small-btn light-btn">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </section>
</div>
